<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3307/gojava5</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="module03.entity.Companies"/>
        <mapping class="module03.entity.Customers"/>
        <mapping class="module03.entity.Developers"/>
        <mapping class="module03.entity.Projects"/>
        <mapping class="module03.entity.Skills"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>